<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-find"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Search by title..." name="searchPattern" [(ngModel)]="searchPattern">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-find"></i></span>
      </div>
      <select [(ngModel)]="searchField">
        <option value="title">Title</option>
        <option value="summary">Summary</option>
      </select>

    </div>
  </div>

<div class="row">
  <app-film 
    [film]="film"  
     *ngFor="let film of films | filmFinder:searchPattern:searchField"
     (deleteFilm)="onDeleteFilm($event)">
  </app-film>
</div>

<app-form (addFilm)="onAddFilm($event)"></app-form>