<div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-find"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Search by title..." name="searchPattern" [(ngModel)]="searchPattern">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-find"></i></span>
      </div>
      <select [(ngModel)]="searchField">
        <option value="title">Title</option>
        <option value="summary">Summary</option>
      </select>

    </div>
  </div>

  <div class="row">
    <div class="card-group">
      <app-film-item
        [film]="film" 
        (onDelete)="onClickDeleteFilm($event)" 
        *ngFor="let film of films | filmFinder:searchPattern:searchField"
      ></app-film-item>
    </div>
  </div>

  <app-film-form
    (createFilm)="onClickCreateFilm($event)"

  ></app-film-form>

  <div class="col-2">
    <img [src]="posterPreview" alt="">
  </div>
</div>